# Change File Name to config.env

API_ID = "5217149"
API_HASH = "c8b8cf1f98a51337ff8f5d6d21425bee"
BOT_TOKEN = "1802176758:AAFyqaT2GeBuMTAmm4S0Jyx8Mj_Vi1TusPM"
TO_CHATS = "-1001424808657"
FROM_CHATS = "-1001490809881"
ADVANCE_CONFIG = ""
TELEGRAM_SESSION = "Rehan"
