# Change File Name to config.env

API_ID = "19512033"
API_HASH = "a73a5f9a1c73166047938ef721bf2a2a"
BOT_TOKEN = "5279929242:AAGBFqeLrcKGmbANQt3vJLS-Fz-XxPDysSQ"
TO_CHATS = ""
FROM_CHATS = ""
ADVANCE_CONFIG = ""
TELEGRAM_SESSION = ""
